<% include ./partials/header %>

<div class="jumbotron">
    <h2>Our Mission</h2>
    <p>Here at G.E.M.S., our mission is to foster the interest of young girl's in the STEM fields. Although women make up less than a third of the science and engineering workforce, we believe that we can help create the next generation of female scientists and engineers. Through engaging lessons and experiments, girls are able to pursue their passion in science and be a part of the change to create equality in the workplace. </p>
    <hr>
    <h2>How We Work</h2>
    <p>At G.E.M.S., we offer free one hour long sessions on the weekends that explain math or science concepts and then conduct an experiment or activity to support and strengthen what they have just learnt in an engaging manner. In each session, we have a minimum of two teachers to assist in the students’ learning.</p>
    <p><a class="btn btn-lg btn-primary" href="https://goo.gl/forms/DJ31VAocqu1BRIfL2" role="button">Interested? Let us know!</a></p>
</div>

<% include ./partials/footer %>