<% include ./partials/header %>

<div class="jumbotron">
    <h2>Contact Us!</h2>
    <p>Email us at <a href="mailto:girlsempoweredms@gmail.com">girlsempoweredms@gmail.com</a> with any questions, comments, or feedback. We'll try to respond as quickly as possible.</p>
    <hr>
    <p>Fill out our <a href="https://goo.gl/forms/DJ31VAocqu1BRIfL2">interest form</a> to show your support and receive notifications of new sessions</p>
</div>
    
<% include ./partials/footer %>