<% include ./partials/header %>

    <div class="jumbotron">
          <h1>Girls Empowered in Math & Science</h1>
          <p>Here at G.E.M.S., our mission is to foster the interest of young girl's in the STEM fields. Although women make up less than a third of the science and engineering workforce, we believe that we can help create the next generation of female scientists and engineers. Through engaging lessons and experiments, girls are able to pursue their passion in science and be a part of the change to create equality in the workplace. </p>
          <p><a class="btn btn-lg btn-primary" href="/about" role="button">Learn more</a></p>
          <p><a class="btn btn-lg btn-primary" href="https://goo.gl/forms/DJ31VAocqu1BRIfL2" role="button">Interested? Let us know!</a></p>
    </div>

<% include ./partials/footer %>