<% include ./partials/header %>

    <div class="jumbotron">
    <h2>Session Dates Coming Soon!</h2>
    <p>As of now, we don't have any dates set up for the workshops. Don't worry, we will be finalizing our session dates and location soon. They will likely take place in San Jose. In the meantine, please fill out our interest form to show your support and be notified as soon as session dates are finalized. Thank you for your interest!</p>
    <p><a class="btn btn-lg btn-primary" href="https://goo.gl/forms/DJ31VAocqu1BRIfL2" role="button">Interested? Let us know!</a></p>
</div>
    
<% include ./partials/footer %>