<% include ./partials/header %>

<div class="jumbotron">
    <h2><strong>Meet the Team</strong></h2>
    <hr>
    <h3>Rashmi Iyer</h3>
    <h4>Founder</h4>
    <p>Rashmi is currently a junior at the Harker school. She has always been interested in all topics related to math & science, especially computer science. In her free time, she enjoys reading and baking.</p>
    <hr>
    <h3>Anvi Banga</h3>
    <p>Anvi Banga is currently a junior at the Harker School. She enjoys science, especially the experimental parts of it. In her free time she enjoys baking, painting her nails, and obsessing over holographic things.</p>
    <hr>
    <h3>Lauren Fu</h3>
    <p>Lauren is currently a junior at the Harker School. She enjoys writing, debate, and science, especially biochemistry. Outside of school, she likes reading about current events and watching Netflix.</p>
    <hr>
    <h3>Annabelle Ju</h3>
    <p>Annabelle is currently a junior at the Harker School. She enjoys science, history, and economics. Some of her hobbies include hiking and photography, and she loves being outdoors in general.</p>
    <hr>
</div>
    
<% include ./partials/footer %>